<html>
    <head>
        <title> question {{question.id}}</title>
    </head>
    <body>
        <h2>{{ question.question_text }}</h2>
        <!-- 判断error_message是否为空 如若不是就打印error_message的值 -->
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        
        <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote">
        </form>
    </body>
</html>